// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// adjust how the search box shadowing works
.form-control:focus {
  border-color: $sta-primary;
  box-shadow: 0.0rem 0.0rem 0.05rem 0.1rem $sta-primary;
}

// adjust to make a smaller navbar
// note that this uses fixed positioning to keep the navbar at all times
// i.e. it wont scroll away
.navbar {
  height: 50px;
}
body {
  margin-top: 50px;
}

.header--fixed {
  position: fixed;
}
